[Desktop Entry]
Type=Application
Name=Call of Suli server
Exec=callofsuli-server %u
Icon=callofsuli-server
StartupNotify=false
Categories=Education;
Terminal=true
