[Desktop Entry]
Type=Application
Name=Call of Suli
Exec=callofsuli-server %u
Icon=callofsuli-server
StartupNotify=false
MimeType=x-scheme-handler/callofsuli;
Categories=Education;
Terminal=true
