[submodule "lib/qml-box2d"]
	path = lib/qml-box2d
	url = https://github.com/valaczka/qml-box2d
[submodule "lib/CuteLogger"]
	path = lib/CuteLogger
	url = https://github.com/valaczka/CuteLogger.git
[submodule "lib/tiled"]
	path = lib/tiled
	url = https://github.com/valaczka/tiled.git
[submodule "lib/Qaterial"]
	path = lib/Qaterial
	url = https://github.com/valaczka/Qaterial.git
[submodule "lib/qzxing"]
	path = lib/qzxing
	url = https://github.com/valaczka/qzxing.git
[submodule "lib/SortFilterProxyModel"]
	path = lib/SortFilterProxyModel
	url = https://github.com/valaczka/SortFilterProxyModel.git
[submodule "lib/QtXlsxWriter"]
	path = lib/QtXlsxWriter
	url = https://github.com/valaczka/QtXlsxWriter.git
[submodule "lib/MaterialDesignSvgo"]
	path = lib/MaterialDesignSvgo
	url = https://github.com/OlivierLDff/MaterialDesignSvgo.git
[submodule "lib/QDeferred"]
	path = lib/QDeferred
	url = https://github.com/juangburgos/QDeferred.git
[submodule "lib/QJsonWebToken"]
	path = lib/QJsonWebToken
	url = https://github.com/juangburgos/QJsonWebToken.git
[submodule "lib/QOlm"]
	path = lib/QOlm
	url = https://github.com/OlivierLDff/QOlm.git
